@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
	background-color: white;
	font-family: "PT Sans", sans-serif;
}
.red {
	background-color: #8d2663;
}
.card-color {
	background-color: #ababab;
}

.disable {
	cursor: not-allowed;
	pointer-events: none;
}
